@inherits MvcContrib.FluentHtml.ModelWebViewPage<IEnumerable<BE.ModelosIII.Mvc.Models.Report.MostSoldMovieReportModel>>

<section class="utopia-widget">
	<div class="utopia-widget-title">
		<img class="utopia-widget-icon" src="/Content/img/icons/lightbulb.png">
		<span>Gráficos</span>
	</div>
    <div class="utopia-widget-content">
        <div class="row-fluid">
            <div id="chart" class="span12" style="height: 600px">
                Cargando...
            </div>
        </div>
    </div>
</section>
