@model BE.ModelosIII.Tasks.Commands.User.EditUserCommand

@{
    ViewBag.Title = "Editar Usuario";
    Layout = ViewBag.Layout;
}

<section class="utopia-widget">
    <div class="utopia-widget-title">
        <img class="utopia-widget-icon" src="/Content/img/icons/paragraph_justify.png">
        <span>Editar Usuario</span>
    </div>
    <div class="utopia-widget-content">
        @Html.Partial("_Form", Model)
    </div>
</section>


@section scripts {
    <script type="text/javascript" src="/Content/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript">
            $(function () {
                var date = $(".datepicker").datepicker({
                    format: "dd/mm/yyyy",
                    weekStart: 0
                }).on('changeDate', function (ev) {
                    date.hide();
                }).data("datepicker");
            });
    </script>
}
@section css {
    <link href="/Content/styles/datepicker.css" rel="stylesheet" type="text/css" />
}
