@{
    ViewBag.Title = "Acceso Denegado - ModelosIII Backend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="utopia-login-message">
                <h1>
                    Acceso Denegado</h1>
                <p>
                   No tiene permisos sufientes para acceder a la ubicación solicitada.</p>
            </div>
        </div>
    </div>
</div>