@model BE.ModelosIII.Mvc.Models.Util.BreadcrumbModel

<div class="row-fluid">
    <div class="span12">
        <ul class="breadcrumb">
            @{
                var currentBreadcrumb = Model;
                while (currentBreadcrumb != null)
                {
                    <li><a href="@currentBreadcrumb.Link">@currentBreadcrumb.Text</a> <span class="divider">/</span> </li>
                    
                    currentBreadcrumb = currentBreadcrumb.NextBreadcrumb;
                }
            }
            
        </ul>
    </div>
</div>
