@model BE.ModelosIII.Tasks.Commands.Promotion.GeneralPriceCommand

<section class="utopia-widget">
    <div class="utopia-widget-title">
        <img class="utopia-widget-icon" src="/Content/img/icons/paragraph_justify.png">
        <span>Precio General</span>
    </div>
    <div class="utopia-widget-content">
        @using (Html.BeginForm("GeneralPrice", "Promotion", FormMethod.Post, new { @id = "generalPriceForm", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <fieldset>
                <div class="control-group">
                    <label for="inputError" class="control-label">
                        Precio General</label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Value, new { @class = "input-medium span4" })
                        @Html.ValidationMessageFor(m => m.Value, null, new {@class = "help-inline"})
                    </div>
                </div>
                <div class="control-group box-button">
                    <div class="utopia-form-button">
                        <button href="javascript:void(0)" type="submit" class="btn btn-primary span2">
                            Guardar</button>
                    </div>
                </div>
                @Html.AntiForgeryToken()
            </fieldset>
        }
    </div>
</section>
