@model BE.ModelosIII.Tasks.Commands.Scenario.CreateScenarioCommand

<section class="utopia-widget">
    <div class="utopia-widget-title">
        <img class="utopia-widget-icon" src="/Content/img/icons/paragraph_justify.png">
        <span>Crear Escenario</span>
    </div>
    <div class="row-fluid">
		<div class="utopia-widget-content">
	    	<div class="span12 utopia-form-freeSpace">
		        @Html.Partial("_Form", Model)
		    </div>
		</div>
	</div>
</section>