@model BE.ModelosIII.Mvc.Models.Run.RunViewModel

@{
    ViewBag.Title = "Ver Solución de " + Model.ScenarioName;
    Layout = ViewBag.Layout;
}

<section class="utopia-widget">
    <div class="utopia-widget-title">
        <img class="utopia-widget-icon" src="/Content/img/icons/paragraph_justify.png">
        <span>Ver Solución de @Model.ScenarioName</span>
    </div>
    <div class="utopia-widget-content">
        @Html.Partial("_ViewForm", Model)
    </div>
</section>


@section scripts {
}
@section css {
}
