<div class="row-fluid">
    <div class="span12">
        <div class="utopia" style="margin-bottom:0px">
            <h1 class="utopia-error-header">
                Lo sentimos.</h1>
            <h2>
                Ha ocurrido un error encontrando su solución.
            </h2>
        </div>
    </div>
</div>
