<div class="row-fluid">
    <div class="span12">
        <div class="utopia" style="margin-bottom:0px">
            <h1 class="utopia-error-header">
                Espere...</h1>
            <h2>
                Estamos encontrando su solución.
            </h2>
            <img height="30" style="position:absolute;top:20px;right:20px" src="~/Content/img/loading.gif" alt="loading" />
        </div>
    </div>
</div>
