@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="utopia-login-message">
                <h1>
                    Error</h1>
                <p>
                   Ocurrio un error procesando su consulta</p>
            </div>
        </div>
    </div>
</div>