@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="utopia-login-message">
                <h1>
                    Error 404</h1>
                <p>
                   No se encontró el recurso solicitado</p>
            </div>
        </div>
    </div>
</div>
