@model BE.ModelosIII.Tasks.Commands.Scenario.EditScenarioCommand

@{
    ViewBag.Title = "Editar Escenario - " + Model.Name;
    Layout = ViewBag.Layout;
}

<section class="utopia-widget">
    <div class="utopia-widget-title">
        <img class="utopia-widget-icon" src="/Content/img/icons/paragraph_justify.png">
        <span>Editar Escenario</span>
    </div>
    <div class="utopia-widget-content">
        @Html.Partial("_Form", Model)
    </div>
</section>


@section scripts {
    <script type="text/javascript" src="/Content/fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="/Content/fancybox/helpers/jquery.fancybox-media.js"></script>
    <script type="text/javascript" src="/Content/js/File/uploadFile.js"></script>
    <script type="text/javascript" src="/Content/js/Movie/movie.js"></script>
}
@section css {
    <link href="/Content/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    @*<link href="/Content/jquery.fancybox-buttons.css" rel="stylesheet" type="text/css" />*@
}
