@model BE.ModelosIII.Tasks.Commands.Multiplex.Screen.EditScreenCommand

@{
    ViewBag.Title = "Editar Sala - " + Model.Name;
    Layout = ViewBag.Layout;
}

<section class="utopia-widget">
    <div class="utopia-widget-title">
        <img class="utopia-widget-icon" src="/Content/img/icons/paragraph_justify.png">
        <span>Editar Sala del Complejo "@ViewBag.Multiplex"</span>
    </div>
    <div class="utopia-widget-content">
        @Html.Partial("Screen/_Form", Model)
    </div>
</section>


@section scripts {
    <script type="text/javascript" src="/Content/js/File/uploadXMLFile.js"></script>
    <script type="text/javascript" src="/Content/js/Multiplex/screen.js"></script>
}
@section css {
}
