<div class="row-fluid">
    <div class="span12">
        <div class="header-top">
            <div class="header-wrapper">
                <a href="/" class="utopia-logo">
                    <img style="max-height: 60px" src="/Content/img/logo.png" alt="ModelosIII"></a>
                <div class="header-right">
                    <div class="header-divider">
                        &nbsp;</div>
                    @Html.Partial("Header/_UserPanel")
                </div>
            </div>
        </div>
    </div>
</div>
