@using BE.ModelosIII.Mvc.Models.Util
@inherits MvcContrib.FluentHtml.ModelWebViewPage<IEnumerable<BE.ModelosIII.Mvc.Models.Report.MostSoldMovieReportModel>>
<section class="utopia-widget">
    <div class="utopia-widget-title">
        <img class="utopia-widget-icon" src="/Content/img/icons/paragraph_justify.png">
        <span>Horarios más vendidos</span>
    </div>
    <div class="utopia-widget-content">
        @if (ViewBag.Actions != null)
        {
            @Html.Partial("_Actions", (IEnumerable<ActionModel>)ViewBag.Actions)
        }
           
        <table class="table datatable table-striped table-bordered">
            <thead>
                <tr>
                    <th>Candidad Vendidas</th>
                    <th>Película</th>
                    <th>Complejo</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Candidad Vendidas</th>
                    <th>Película</th>
                    <th>Complejo</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var reportModel in Model)
                {
                    <tr>
                        <td>@reportModel.SoldTickets</td>
                        <td>@reportModel.Movie</td>
                        <td>@reportModel.Multiplex</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
