@model BE.ModelosIII.Tasks.Commands.Multiplex.EditMultiplexCommand

@{
    ViewBag.Title = "Editar Complejo - " + Model.Name;
    Layout = ViewBag.Layout;
}

<section class="utopia-widget">
    <div class="utopia-widget-title">
        <img class="utopia-widget-icon" src="/Content/img/icons/paragraph_justify.png">
        <span>Editar Complejo</span>
    </div>
    <div class="utopia-widget-content">
        @Html.Partial("_Form", Model)
    </div>
</section>


@section scripts {
    <script type="text/javascript" src="/Content/fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="/Content/js/File/uploadFile.js"></script>
    <script type="text/javascript" src="/Content/js/Multiplex/multiplex.js"></script>
}
@section css {
    <link href="/Content/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />
}
